/*~~~*/ /*~~~~~~~~~~~*/ /*~*/

~~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~~ /*~*/
~
	<div id="card">
		<div id="title">/*~~~~~~~~~~~~~~*/</div>
		<div id="artist">/*~~~~~~~~~~~~~~~*/</div>
	</div>
~
/**/ ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
~
	<div id="card">
		<div id="title">/*~~~~~~~~~~~~~*/</div>
	</div>
~

/*~*/ ~
	/*~~~~~~~*/
	/*~~*/ /*~~*/ /*~~~~~~~*/ ~ /**/ /**/ ~ ~ /*~~~~~~~~~*/

	/*~~~*/ /*~~~~~~~*/ /*~~~~~~~~*/
	/*~~~*/ /*~~~~*/ /*~~~*/ /*~~~*/ /*~~*/ /*~~~*/ /*~~*/ /*~~~~~~*/
	/*~~~*/ /*~~~~~~~~~~~~~~~~~~~~*/ /*~*/

	/*~~~~~*/ /*~~~~*/ /**/ /*~~~~~~~~~~~*/
	~
		/**/ ~ ~~~ /*~~~~~~~~~~~~~~~~~~~~~~*/
		~ ~ /*~~~~~~~~~~~~~~~~~~*/
	~

	/*~~~*/ /*~*/ /**/ /*~~~~~~~~~~~~~~~~~~~~~~~*/ ~~~
	~
		/*~*/ ~~~ /*~*/ ~ ~~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

		~~~
		~
			/*~*/ /*~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
			~
				~~~ /**/ ~ /*~~~~~~~~~~~~~~~~~~~*/
				~~~ /*~~~~~~~~*/ ~ /*~~~~~~~~~~*/ /*~~~~~~~~*/ /*~~~~~~~~*/

				~~ /*~~~~~~*/ ~~ /*~~~~~~~~~*/
				~
					/*~~~~~~~*/ ~ /*~*/
					/*~~~~~*/ ~ /*~~~~~~~~~*/
					/*~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~*/
				~
			~
		~
		/*~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~*/
		~
		~
	~

	/*~~*/ /**/ /*~~~~~*/
	~
		/*~~~~~~~~~~~*/
		/*~~~~~~~~~~~~*/
	~
~

