body.main {
	margin: 40px auto;
	max-width: 36em;
	line-height: 1.6;
	font-size: 1.125rem;
	color: #444;
	padding: 0 10px;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

hr {
	opacity: 0.1;
}

.animated-card div {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
	animation: slideIn 1000ms ease-in-out;
}

.animated-card .exiting div {
	animation: slideOut 1000ms ease-in-out;
}

@keyframes slideIn {
	from {
		transform: translateX(120px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(120px);
		opacity: 0;
	}
}

.animated-card div#title {
	font-size: 2rem;
}

.animated-card div#artist {
	font-size: 1rem;
}

.config-section {
	display: flex;
	flex-direction: column;
}
.config-section-inline {
	flex-direction: row;
}
.config-form button {
	float: right;
}
